*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body, html{
    height:100%;
}

body{
    width:100%;
    line-height: 19px;
    color:#e0dccc;
}

.container{
    margin-left:auto;
    margin-right:auto;
}
 
a{
    text-decoration: none;
    cursor:pointer;
}

a:hover,
a:active,
a:focus{
	outline: 0;
	text-decoration:none;
}

a img {
	border: none;
}

img {
	max-width: none;	
}

em{
    font-family: 'Myriad Pro';
    font-style:italic;
}

strong{
    font-family: 'Myriad Pro';
    font-weight:bold;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Crimson Text';
    font-weight: 700;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 20px;
    line-height: 21px;
    font-weight: 600;

}

h4{ 
    font-size: 20px;
    color:#040302;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:5px
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

p{
    font-family: 'Myriad Pro Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    margin-bottom:19px;
}

button{
    display:inline-block;
    width:138px;
    height:38px;
    background-color: transparent;
    border:solid 1px #e0dccc;
    color:#e0dccc;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-family: "Crimson Text Bold";
    font-size: 13px;
    letter-spacing: -0.4px;
    cursor:pointer;
    transition: all 0.1s linear;
}

button:hover,
button:active,
button:focus {
    background-color: #e0dccc;
    color:#040302;
    border:solid 1px #e0dccc;
}


